body {
    background: #ddd;
}

.main-content {
    max-width: 1366px;
    padding: 10px 5% 50px 5%;
    background: white;
    margin: auto;
}

.main-header {
    margin: 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../header-background.webp");

    height: min(500px, 200%);
    height: 200px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    color: white;
}

.main-header-content {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding: 10px;
}

.dr2-header {
    background-color: #ddd;
    max-width: 1366px;
    padding: 10px 5% 10px 5%;
    margin: auto;
}

/* dark */

body.dark {
    background: #1b1b1b;
    color: #fafafa;
}

.dark .main-content {
    max-width: 1366px;
    padding: 10px 5% 50px 5%;
    background: #262626;
    margin: auto;
}

.dark .darkmode-able {
    filter: invert(0.9) hue-rotate(180deg) contrast(0.88);
}

.dark .dr2-header {
    background-color: #333;
}

.dark input,
.dark select
{
    background-color: #333;
    color: #fafafa;
}

.dark .w3-table-all tr:nth-child(odd) {
    background-color: #262626;
}
.dark .w3-table-all tr:nth-child(even) {
    background-color: #363636;
}

.dark .w3-table-all {
    border-color: #444;
}
.dark .w3-border {
    border-color: #444 !important;
}

.dark .w3-bordered tr, .w3-table-all tr {
    border-bottom-color: #323232;
}
